/* Correct for jquery mobile */
.ui-content {
   padding: 0px;
}

.tile {
   width: 100%;
   height: 60px;
   padding-bottom: 20px;
   border-bottom: 2px solid #999;
   border-top: 2px solid #fff;
   background-image: -webkit-linear-gradient(top, #ddd, #ffe);
}

.tile p {
   padding: 8px;
}

.formula {
   background-image: -webkit-linear-gradient(top, #666, transparent 12px );
   padding: 8px;
}

.source {
/*   background-image: -webkit-linear-gradient(top, #cec, #efe ); */
}

/* A varying value */

.signal {
}

.carousel {
   text-align: center;
   vertical-align: middle;
   font-size: 26px;
   padding-top: 18px;
}
.carousel .sample:after {
   content: '...';
}

/* kinds of display: just a value (with its unit) */

.meter {
    text-align: center;
   position: relative;
}

.meter .sample {
    font-size: 62px;
    font-weight: bold;
    text-shadow: 3px 3px 7px #666;
   position: relative;
   z-index: 10;
}

.meter .unit {
   display: block;
   text-align: center;
    margin-left: 6px;
    font-size: 13px;
    position: relative;
   z-index: 10;
   top: -9px;
}

.meter .sparkline {
}

.meter .sparkline div {
   top: 0px;
   height: 80px;
   position: absolute;
   z-index: 5;
}

.meter .sparkline canvas {
}

/* something exceeding a high water mark */

.hwm {
    color: #e33;
}
